img {
    display: block;
    border: 3px solid black;
    width: 100%;
    margin: 40px auto 0 auto;
}
.quote {
    font-size: 23px;
}
.q{
    font-family: 'La Belle Aurore', cursive;
    font-size: 40px;
}
