header>nav>ul {
    list-style-type: none;
    margin: 0;
    padding: 0 20px;
    background-color: rgb(27, 27, 27);
    display: flex;
    justify-content: space-between;
}

header>nav>ul>li {
    width: 180px;
}

header>nav>ul>li .dropdown-content {
    display: none;
    position: absolute;
    width: 180px;
    background-color: rgb(27, 27, 27);
}

header>nav>ul>li .dropdown-content a {
    display: block;
}

header>nav>ul>li:hover .dropdown-content {
    display: block;
}

header>nav>ul>li a,
.dropbtn {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
}

header>nav>ul>li a:hover,
.dropdown:hover .dropbtn {
    background-color: red;
}

header>nav>ul>li.dropdown {
    display: inline-block;
}