.img1 {
    display: block;
    border: 3px solid black;
    width: 360px;
    height: 250px;
    margin: 0;
}
.img2{
    margin: 0 20px 40px 20px;
}
img{
    display: inline;
    border: 3px solid black;
    margin: 0 0 40px 0;
}