main{
    height: 700px;
}

form{
    width: 520px;
    padding: 60px 0 20px 0;
    margin: 0 auto;
}
label{
    text-align: right;
    width: 150px;
    display: block;
    margin-right: 30px;
}
input{
    width: 200px;
}

form p {
    display: flex;
    flex-wrap: wrap;
}
textarea{
    width: 400px;
    height: 100px;
    margin-left: 60px;
}
.sub{
    width: 70px;
    display: block;
    margin: 10px auto 0 auto;
}