html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* RESET CSS*/

body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    background-color: #DDF0D5;
}

.container {
    background-color: white;
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
}

.principal {
    box-sizing: border-box;
    padding: 10px 40px 10px 40px;
    text-align: justify;
}

span {
    font-family: 'La Belle Aurore', cursive;
    font-size: 50px;
    margin-left: 5px;
    word-spacing: -10px;
}

h1 {
    margin: 20px 0 20px 0;
    font-size: 30px;
}

h2 {
    margin: 0 0 20px 0;
    font-size: 25px;
}

p {
    font-size: 15px;
    line-height: normal;
}

.bloc1{
    display: flex;
    flex-wrap: nowrap;
    margin: 40px 0 20px 0;;
}
.ingr{
    width: 520px;
    margin: 0 30px 0 0;
}

.ingr > ul{
    font-size: 15px;
    line-height: normal;
    list-style: url('/images/spoon.png');
    list-style-position: inside;
}
ol{
    font-size: 15px;
    line-height: normal;
    list-style: decimal;
    list-style-position: inside;
    margin: 0 0 40px
}

footer {
    background-color: rgb(27, 27, 27);
    height: 100px;
    line-height: 100px;
    vertical-align: middle;
    text-align: center;
    color: rgb(255, 255, 255);
}

a {
    color: white;
    font-size: 17px;
}

a:hover {
    background-color: red;
}
